ul {
    list-style-type: none;
    padding: 0;
    padding-left: 10px;
}
.flex-wrap {
    display: flex;
    flex-direction: row;
}

.flex-left {
    flex-basis: 180px;
    text-align: left;
    border-right: 1px solid grey;
}
